<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='userLogin.css') }}">
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h2>Login</h2>
            <form action="{{ url_for('userLogin')}}" method="post">
                <div class="form-group">
                    <div class="field-label">Email:</div>
                    <input type="email" id="email" name="email" required>
                </div>
                <button type="submit">Login</button>
            </form>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li class="flash-message">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            
            <p>Don't have an account? <button class="register" type="button"><a href="{{ url_for('userRegister') }}">Register</a></button></p>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Select all flash messages and hide them after 4 seconds
            var flashMessages = document.querySelectorAll('.flash-message');
            flashMessages.forEach(function (message) {
                setTimeout(function () {
                    message.style.display = 'none';
                }, 4000);
            });
        });
    </script>
</body>
</html>
